= nested_form_for @order do |f|
  = f.fields_for :products do |product_form|
    = product_form.select :name, options_for_select(Product::LIST, @products.name), include_blank: "Select"
    = product_form.link_to_remove "Remove this product"
    %div.options
      = f.fields_for :options do |option_form|
        = option_form.select :pattern, options_for_select(Option::PATTERN), include_blank: "Select"
        = option_form.select :color_one,  options_for_select(Option::COLOR_ONE), include_blank: "Select"
        = option_form.select :color_two,  options_for_select(Option::COLOR_TWO), include_blank: "Select"
        %br
        %br
        = option_form.text_area :personalization, placeholder: "Your personalization goes here."
  = f.link_to_add "Add a product", :products
  %hr
  = f.submit "Create Order"
%br