= render 'ques/search'

%h4 These Guys are in Queue
= link_to "Help me!", help_me_ques_path, method: :post
= link_to "New Student", new_que_path

%ul.students
  - @people_in_que.each do |person|
    = render 'ques/student', student: person

%h4 People Resolved

.resolved_students
  - @people_who_are_inifintely_smarter_then_they_were_before_but_still_cant_spell.each do |person|
    = person.name
    helped at
    = person.updated_at.strftime("%l:%M%p")
    %br

