= link_to "Cancel", root_path
%br
= @hospital.name
%hr
= link_to "New Patient", new_hospital_patient_path(@hospital)
|
= link_to "Add Doctor", doctor_hospital_path(@hospital)
%ul
  - @patients_being_seen.each_slice(10) do |patient, patient_1, patient_2, patient_3, patient_4, patient_5, patient_6, patient_7, patient_8, patient_9,|

    = render 'patient', patient: patient if patient
    = render 'patient', patient: patient_1 if patient_1
    = render 'patient', patient: patient_2 if patient_2
    = render 'patient', patient: patient_3 if patient_3
    = render 'patient', patient: patient_4 if patient_4
    = render 'patient', patient: patient_5 if patient_5
    = render 'patient', patient: patient_6 if patient_6
    = render 'patient', patient: patient_7 if patient_7
    = render 'patient', patient: patient_8 if patient_8
    = render 'patient', patient: patient_9 if patient_9
%ul
  .link
    %li
      %a{:href => "#"} 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
%hr
= render 'patients/search'
%hr
%ul
  -@hospital.doctors.each do |doctor_name|
    %li
      =doctor_name.surname

%hr
-@patients_completed.each do |patient|
  = patient.name
  helped at
  = patient.updated_at.strftime("%l:%M%p")
  %br