<h1>DVD Details</h1>
<br>
<strong><%= @dvd.title %></strong>
<br>
<%= @dvd.release %>
<br>
<%= @dvd.genre %>
<br>
<%= @dvd.director%>
<br>
<%= @dvd.rating %>
<br>
<%= @dvd.actors%>
<br>
<%= @dvd.length %>
<br>
<%= @dvd.description %>
<br>
<hr>
<%= link_to 'Home', root_path %>
