!!!
%html
  %head
    %title Class 12
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/links'
    %h1 Cool Rails Project
    .flash_message
      = render 'layouts/flash'
    = yield
